<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="press.wein.home.dao.FeedbackInfoMapper">
  <resultMap id="BaseResultMap" type="press.wein.home.model.FeedbackInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="feed_image" jdbcType="VARCHAR" property="feedImage" />
    <result column="feed_info" jdbcType="VARCHAR" property="feedInfo" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, feed_image, feed_info, status, type, is_deleted, create_time, 
    modify_time, creator_id, creator, modifier, modifier_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from h_feedback_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from h_feedback_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="press.wein.home.model.FeedbackInfo">
    insert into h_feedback_info (id, user_id, user_name, 
      feed_image, feed_info, status, 
      type, is_deleted, create_time, 
      modify_time, creator_id, creator, 
      modifier, modifier_id)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{feedImage,jdbcType=VARCHAR}, #{feedInfo,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{type,jdbcType=TINYINT}, #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR}, #{modifierId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="press.wein.home.model.FeedbackInfo">
    insert into h_feedback_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="feedImage != null">
        feed_image,
      </if>
      <if test="feedInfo != null">
        feed_info,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="feedImage != null">
        #{feedImage,jdbcType=VARCHAR},
      </if>
      <if test="feedInfo != null">
        #{feedInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="press.wein.home.model.FeedbackInfo">
    update h_feedback_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="feedImage != null">
        feed_image = #{feedImage,jdbcType=VARCHAR},
      </if>
      <if test="feedInfo != null">
        feed_info = #{feedInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="press.wein.home.model.FeedbackInfo">
    update h_feedback_info
    set user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      feed_image = #{feedImage,jdbcType=VARCHAR},
      feed_info = #{feedInfo,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifier_id = #{modifierId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="Where_Search_Condition">
    <where>
      is_deleted = 0
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="userName != null">
        and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="feedImage != null">
        and feed_image = #{feedImage,jdbcType=VARCHAR}
      </if>
      <if test="feedInfo != null">
        and feed_info = #{feedInfo,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="type != null">
        and type = #{type,jdbcType=TINYINT}
      </if>
      <if test="isDeleted != null">
        and is_deleted = #{isDeleted,jdbcType=TINYINT}
      </if>
      <if test="createTime != null">
        and create_time = #{createTimeFrom,jdbcType=TIMESTAMP}
      </if>
      <if test="createTimeFrom != null and createTimeFrom !=''">
        and create_time &gt;= #{createTimeFrom,jdbcType=VARCHAR}
      </if>
      <if test="createTimeTo != null and createTimeTo != ''">
        and create_time &lt;= DATE_ADD(#{createTimeTo,jdbcType=VARCHAR},INTERVAL 1 DAY)
      </if>
      <if test="modifyTime != null">
        and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="creatorId != null">
        and creator_id = #{creatorId,jdbcType=BIGINT}
      </if>
      <if test="creator != null and creator !=''">
        and instr(creator, #{creator,jdbcType=VARCHAR}) > 0
      </if>
      <if test="modifier != null">
        and modifier = #{modifier,jdbcType=VARCHAR}
      </if>
      <if test="modifierId != null">
        and modifier_id = #{modifierId,jdbcType=BIGINT}
      </if>
    </where>
  </sql>

  <select id="countFeedbackInfos" resultType="java.lang.Long">
    select count(1) from h_feedback_info
    <include refid="Where_Search_Condition" />
  </select>

  <select id="listFeedbackInfosWithPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from h_feedback_info
    <include refid="Where_Search_Condition" />
    order by id desc
    limit #{pageSize,jdbcType=INTEGER} offset #{start,jdbcType=INTEGER}
  </select>

</mapper>