<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="press.wein.home.dao.PrintShopMapper">
  <resultMap id="BaseResultMap" type="press.wein.home.model.PrintShop">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="printer_id" jdbcType="BIGINT" property="printerId" />
    <result column="printer_name" jdbcType="VARCHAR" property="printerName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="address_type" jdbcType="TINYINT" property="addressType" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="print_shop_name" jdbcType="VARCHAR" property="printShopName" />
    <result column="print_shop_image" jdbcType="VARCHAR" property="printShopImage" />
    <result column="praise" jdbcType="TINYINT" property="praise" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="city_area_Id" jdbcType="INTEGER" property="cityAreaId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, printer_id, printer_name, address, detail_address, phone_no, address_type, longitude, 
    latitude, print_shop_name, print_shop_image, praise, province_id, city_id, city_area_Id, 
    status, is_deleted, create_time, modify_time, creator_id, creator, modifier, modifier_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from h_print_shop
    where is_deleted = 0 and id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from h_print_shop
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="press.wein.home.model.PrintShop">
    insert into h_print_shop (id, printer_id, printer_name, 
      address, detail_address, phone_no, 
      address_type, longitude, latitude, 
      print_shop_name, print_shop_image, praise, 
      province_id, city_id, city_area_Id, 
      status, is_deleted, create_time, 
      modify_time, creator_id, creator, 
      modifier, modifier_id)
    values (#{id,jdbcType=BIGINT}, #{printerId,jdbcType=BIGINT}, #{printerName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, 
      #{addressType,jdbcType=TINYINT}, #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, 
      #{printShopName,jdbcType=VARCHAR}, #{printShopImage,jdbcType=VARCHAR}, #{praise,jdbcType=TINYINT}, 
      #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{cityAreaId,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=BIGINT}, #{creator,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR}, #{modifierId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="press.wein.home.model.PrintShop">
    insert into h_print_shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="printerId != null">
        printer_id,
      </if>
      <if test="printerName != null">
        printer_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="detailAddress != null">
        detail_address,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="addressType != null">
        address_type,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="printShopName != null">
        print_shop_name,
      </if>
      <if test="printShopImage != null">
        print_shop_image,
      </if>
      <if test="praise != null">
        praise,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="cityAreaId != null">
        city_area_Id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="printerId != null">
        #{printerId,jdbcType=BIGINT},
      </if>
      <if test="printerName != null">
        #{printerName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null">
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="addressType != null">
        #{addressType,jdbcType=TINYINT},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="printShopName != null">
        #{printShopName,jdbcType=VARCHAR},
      </if>
      <if test="printShopImage != null">
        #{printShopImage,jdbcType=VARCHAR},
      </if>
      <if test="praise != null">
        #{praise,jdbcType=TINYINT},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityAreaId != null">
        #{cityAreaId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="press.wein.home.model.PrintShop">
    update h_print_shop
    <set>
      <if test="printerId != null">
        printer_id = #{printerId,jdbcType=BIGINT},
      </if>
      <if test="printerName != null">
        printer_name = #{printerName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null">
        detail_address = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null">
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="addressType != null">
        address_type = #{addressType,jdbcType=TINYINT},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="printShopName != null">
        print_shop_name = #{printShopName,jdbcType=VARCHAR},
      </if>
      <if test="printShopImage != null">
        print_shop_image = #{printShopImage,jdbcType=VARCHAR},
      </if>
      <if test="praise != null">
        praise = #{praise,jdbcType=TINYINT},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityAreaId != null">
        city_area_Id = #{cityAreaId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="press.wein.home.model.PrintShop">
    update h_print_shop
    set printer_id = #{printerId,jdbcType=BIGINT},
      printer_name = #{printerName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      phone_no = #{phoneNo,jdbcType=VARCHAR},
      address_type = #{addressType,jdbcType=TINYINT},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      print_shop_name = #{printShopName,jdbcType=VARCHAR},
      print_shop_image = #{printShopImage,jdbcType=VARCHAR},
      praise = #{praise,jdbcType=TINYINT},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      city_area_Id = #{cityAreaId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifier_id = #{modifierId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="Where_Search_Condition">
    <where>
      is_deleted = 0
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="printerId != null">
        and printer_id = #{printerId,jdbcType=BIGINT}
      </if>
      <if test="printerName != null and printerName !=''">
        and instr(printer_name, #{printerName,jdbcType=VARCHAR}) > 0
      </if>
      <if test="address != null and address !=''">
        and address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="detailAddress != null and detailAddress !=''">
        and detail_address = #{detailAddress,jdbcType=VARCHAR}
      </if>
      <if test="phoneNo != null and phoneNo !=''">
        and phone_no = #{phoneNo,jdbcType=VARCHAR}
      </if>
      <if test="addressType != null">
        and address_type = #{addressType,jdbcType=TINYINT}
      </if>
      <if test="longitude != null">
        and longitude = #{longitude,jdbcType=DECIMAL}
      </if>
      <if test="latitude != null">
        and latitude = #{latitude,jdbcType=DECIMAL}
      </if>
      <if test="printShopName != null and printShopName !=''">
        and print_shop_name = #{printShopName,jdbcType=VARCHAR}
      </if>
      <if test="printShopImage != null and createTimeFrom !=''">
        and print_shop_image = #{printShopImage,jdbcType=VARCHAR}
      </if>
      <if test="praise != null">
        and praise = #{praise,jdbcType=TINYINT}
      </if>
      <if test="provinceId != null">
        and province_id = #{provinceId,jdbcType=INTEGER}
      </if>
      <if test="cityId != null">
        and city_id = #{cityId,jdbcType=INTEGER}
      </if>
      <if test="cityAreaId != null">
        and  city_area_Id = #{cityAreaId,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="createTime != null">
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createTimeFrom != null and createTimeFrom !=''">
        and create_time &gt;= #{createTimeFrom,jdbcType=VARCHAR}
      </if>
      <if test="createTimeTo != null and createTimeTo != ''">
        and create_time &lt;= DATE_ADD(#{createTimeTo,jdbcType=VARCHAR},INTERVAL 1 DAY)
      </if>
      <if test="modifyTime != null">
        and modify_time = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="creatorId != null">
        and creator_id = #{creatorId,jdbcType=BIGINT}
      </if>
      <if test="creator != null and creator !=''">
        and creator = #{creator,jdbcType=VARCHAR}
      </if>
      <if test="modifier != null and modifier !=''">
        and modifier = #{modifier,jdbcType=VARCHAR}
      </if>
      <if test="modifierId != null">
        and modifier_id = #{modifierId,jdbcType=BIGINT}
      </if>
    </where>
  </sql>

  <select id="countPrintShops" resultType="java.lang.Long">
    select count(1) from h_print_shop
    <include refid="Where_Search_Condition"/>
  </select>

  <select id="listPrintShopsByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from h_print_shop
    <include refid="Where_Search_Condition"/>
    order by id desc
    limit #{pageSize,jdbcType=INTEGER} offset #{start,jdbcType=INTEGER}
  </select>

  <select id="listPrintShops" resultMap="BaseResultMap" parameterType="press.wein.home.model.PrintShop">
    select
    <include refid="Base_Column_List"/>
    from h_print_shop
    <include refid="Where_Search_Condition"/>
  </select>

  <select id="listPrintShopsByIds" parameterType="java.util.List" resultMap="BaseResultMap"> 
    select
     <include refid="Base_Column_List"/> 
    from h_print_shop 
    where is_deleted = 0 and id in 
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")"> 
      #{item} 
    </foreach> 
  </select>

  <select id="checkRepeatName" resultType="java.lang.Integer" parameterType="press.wein.home.model.PrintShop">
    select count(1)
    from h_print_shop
    where is_deleted = 0
    <if test="printShopName != null and printShopName != ''">
      and print_shop_name = #{printShopName,jdbcType=VARCHAR}
    </if>
    <if test="id != null">
      and id != #{id,jdbcType=BIGINT}
    </if>
  </select>

  <select id="getPrintShopByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from h_print_shop
    where is_deleted = 0
    <if test="printShopName != null">
      and print_shop_name = #{printShopName,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="getPrintShopByPrinterId" parameterType="java.lang.Long" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from h_print_shop
      where is_deleted = 0 and printer_id = #{printerId,jdbcType=BIGINT}
  </select>

    <select id="listPrintShopsByPrinterIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from h_print_shop
        where is_deleted = 0 and printer_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="listPrintShopsByAreaIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from h_print_shop
        where is_deleted = 0 and city_area_Id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="listPrintShopsByAreaId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from h_print_shop
        where is_deleted = 0 and city_area_Id = #{cityAreaId,jdbcType=INTEGER}
    </select>
</mapper>